* {
  background-color: #282c34;
}

.header {
  display: flex;
  color: rgb(0, 68, 255);
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.content div {
  width: 400px;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  color: rgb(0, 68, 255);
}
